/* ***Given values*** */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ***General set-up*** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
}

h1.bold {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

h1.light {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  font-size: 0.8em;
}

/* ***Header set-up*** */

header {
  text-align: center;
}

p {
  padding: 1em 0 4em 0;
}

/* ***GRID set-up*** */

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0 2em;
  grid-template-areas:
    ". teamBuilder ."
    "supervisor teamBuilder calculator"
    "supervisor karma calculator"
    ". karma .";
  padding: 0 20em;
}

.box {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 2em;
  display: flex;
  flex-flow: column;
}

.supervisor {
  grid-area: supervisor;
  box-shadow: 0 -5px 0 0 cyan, 0 -3px 0 0 cyan;
  padding: 20px;
}

.teamBuilder {
  grid-area: teamBuilder;
  box-shadow: 0 -5px 0 0 red, 0 -3px 0 0 red;
}

.karma {
  grid-area: karma;
  box-shadow: 0 -5px 0 0 orange, 0 -3px 0 0 orange;
}

.calculator {
  grid-area: calculator;
  box-shadow: 0 -5px 0 0 blue, 0 -3px 0 0 blue;
}

/* ***BOXES set-up*** */

img {
  align-self: flex-end;
}

/* ***Responsive Design*** */

@media (max-width: 1000px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    padding-left: 3em;
    padding-right: 3em;
    grid-template-areas:
      "supervisor"
      "teamBuilder"
      "karma"
      "calculator";
  }

  .supervisor {
    grid-area: supervisor;
  }
  .teamBuilder {
    grid-area: teamBuilder;
  }
  .karma {
    grid-area: karma;
  }
  .calculator {
    grid-area: calculator;
  }
}
